#container {
    position: relative;
    margin: auto;

    width: 99%;
    height: calc(99.5vh - 50px);
}

#hud-wrapper {
    float: left;

    height: 100%;
    width: 19%;

    border: 1px solid #606165;
}

#canvas-wrapper {
    float: right;

    height: 100%;
    width: 80%;

    border: 1px solid #606165;
}

#canvas {    
    width: 100%;
    height: 100%;

    position: relative;    

    background-color: #444447;

    cursor: none;
}

#paddle {
    fill: black;
}

#ball {
    fill: blue;
    stroke-width: 1px;
    stroke: darkblue;
}

.element-brick {
    stroke-width: 2px;
}

.element-brick.wear-level-3 {
    fill: #d30000;
    stroke: #9b0000;
}

.element-brick.wear-level-2 {
    fill: #9b0000;
    stroke: #7f0000;
}

.element-brick.wear-level-1 {
    fill: #7f0000;
    stroke: #590000;
}

#hud-wrapper {
    text-align: center;
    height: 100%;
}

#stats #current, #overall {
    border: 1px solid #606165;
}

#status #won {
    visibility: hidden;
    
    font-size: 32px;
    color: green;
}

#status #won.enabled {
    visibility: visible;
}

#status #lost {
    visibility: hidden;
    
    font-size: 32px;
    color: red;
}

#status #lost.enabled {
    visibility: visible;
}
